* {
    font-family: Arial, Helvetica, sans-serif;
}

div#content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
} 

div.column {
    align-items: center;
    flex-direction: column;
}